
/**vlv-villages version 1.03 - index.css - Features:
 * 
 *   --> work in progress Layout building.
 * 
 * Note: so far i have been defined layout 
 * for 'header', 'booking content', 
 *'booking date', 'events-content', 
 * villas, events-text, gallery-text, 
 * gallery-carousel
 */

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.7;
  background-color: var(--color-quarternary);
}


:root{
  font-size: 62.5%;

  /* Main colors for the project **/

  --color-primary:#730039;
  --color-primary-light:hsla(330,100%,23%,0.85);
  --color-primary-dark:hsla(330,100%,23%,0.85);

  --color-secondary:#ffc513;
  --color-secondary-light:hsla(45,100%,54%,0.55);
  --color-secondary-dark:rgba(255,196,19,0.85);

  --color-tertiary:#ff724c;
  --color-tertiary-light:hsla(39,100%,65%,0.55);
  --color-tertiary-dark:rgba(255,115,76,0.85);

  --color-quarternary:#f6eedf;
  --color-quarternary-light:hsla(39,56%,92%,0.6);
  --color-quarternary-dark:hsla(39,56%,92%,0.85);

  /* Transition duration **/

  --transition-duration: 0.3s;

  /*section title font size**/
  --font-size-title: calc( 2rem + 2vw);

  /*section Padding**/
  --padding-section: 8vh 3vw;

}

.container{
  display: grid;
  
  /* 1100px / 10columns is equal to 11rem that is 110px and that will the max size of the columns**/
  
  /*here i name columns to start to span spaces for the different sections**/
  grid-template-columns: 
  [ container-start ] 1fr [center-start] repeat(
    10,
    [col-start] minmax(min-content, 11rem) [col-end]
    ) 
    [ center-end ] 1fr [ container-end ];

  grid-template-rows: 100vh repeat(8, min-content);
}

/*grabbing the children and changing the font-size**/
.container > * {
  font-size: 2rem;
}

/**Main Styling*/
header#header{
  background-color: var(--color-primary);
  grid-column: container-start / container-end;
}


/*Booking content section ----**/
section#booking-content{
  background-color: var(--color-secondary);
  grid-column: center-start / col-end 6;
  height: 400px;
}

/*Booking date section ----**/
section#booking-date{
  background-color: var(--color-tertiary);
  grid-column: col-start 7 / center-end;
  height: 400px;
}

/*villas section ----**/
section#villas{
  background-color: var(--color-primary);
  grid-column: container-start / container-end;
  height: 400px;
}

/*motto section ----**/
section#motto{
  background-color: var(--color-secondary);
  grid-column: container-start / container-end;
  height: 400px;
}

/*events content ----**/
section#events-content{ 
  background-color: var(--color-tertiary);
  grid-column: container-start / col-end 9;
  height: 400px;
}

/*events content ----**/
section#events-text{ 
  background-color: var(--color-primary);
  grid-column: col-start 10 / center-end;
  height: 400px;
}

/*gallery text ----**/
section#gallery-text{  
  background-color: var(--color-secondary);
  grid-column: center-start / col-end 1;
  height: 400px;
}

/*gallery text ----**/
section#gallery-carousel{  
  background-color: var(--color-tertiary);
  grid-column: col-start 2 / container-end;
  height: 400px;
}

