
/**vlv-villages version 1.01 - index.css - Features:
 * 
 *   --> Starting to build layout fro the porject.
 * 
 * Note: setting styles for the body and activating 
 * grid for the container `body of homepage`
 *
 * this is the start of vlv-villages layout
 */

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.7;
  background-color: var(--color-quarternary);
}


:root{
  font-size: 62.5%;

  /* Main colors for the project **/

  --color-primary:#730039;
  --color-primary-light:hsla(330,100%,23%,0.85);
  --color-primary-dark:hsla(330,100%,23%,0.85);

  --color-secondary:#ffc513;
  --color-secondary-light:hsla(45,100%,54%,0.55);
  --color-secondary-dark:rgba(255,196,19,0.85);

  --color-tertiary:#ff724c;
  --color-tertiary-light:hsla(39,100%,65%,0.55);
  --color-tertiary-dark:rgba(255,115,76,0.85);

  --color-quarternary:#f6eedf;
  --color-quarternary-light:hsla(39,56%,92%,0.6);
  --color-quarternary-dark:hsla(39,56%,92%,0.85);

  /* Transition duration **/

  --transition-duration: 0.3s;

  /*section title font size**/
  --font-size-title: calc( 2rem + 2vw);

  /*section Padding**/
  --padding-section: 8vh 3vw;

}

.container{
  display: grid;
  /* 1100px / 10columns is equal to 11rem that is 110px and that will the max size of the columns**/
  grid-template-columns: 1fr  repeat(10, minmax(min-content, 11rem)) 1fr;
}


