/**vlv-villages version 1.07 - index.css - Features:
 * 
 *   --> Work in progress 'hamburger' styles and
 *       checkbox opacity.
 * 
 * Note: 'nav' jsx tag is inside of header
 *component, next steps will include to finish the
 *the hamburger and 'nav' styling
 */

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.7;
  background-color: var(--color-quarternary);
}


:root{
  font-size: 62.5%;

  /* Main colors for the project **/

  --color-primary:#730039;
  --color-primary-light:hsla(330,100%,23%,0.85);
  --color-primary-dark:hsla(330,100%,23%,0.85);

  --color-secondary:#ffc513;
  --color-secondary-light:hsla(45,100%,54%,0.55);
  --color-secondary-dark:rgba(255,196,19,0.85);

  --color-tertiary:#ff724c;
  --color-tertiary-light:hsla(39,100%,65%,0.55);
  --color-tertiary-dark:rgba(255,115,76,0.85);

  --color-quarternary:#f6eedf;
  --color-quarternary-light:hsla(39,56%,92%,0.6);
  --color-quarternary-dark:hsla(39,56%,92%,0.85);

  /* Transition duration **/

  --transition-duration: 0.3s;

  /*section title font size**/
  --font-size-title: calc( 2rem + 2vw);

  /*section Padding**/
  --padding-section: 8vh 3vw;

}

.container{
  display: grid;
  
  /* 1100px / 10columns is equal to 11rem that is 110px and that will the max size of the columns**/
  
  /*here i name columns to start to span spaces for the different sections**/
  grid-template-columns: 
  [ container-start ] 1fr [center-start] repeat(
    10,
    [col-start] minmax(min-content, 11rem) [col-end]
    ) 
    [ center-end ] 1fr [ container-end ];

  grid-template-rows: 100vh repeat(8, min-content);
}

a:link,
a:visited {
  color: var(--color-quarternary);
  text-decoration: none;
  font-size: calc(0.5rem + 1vw);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  position: relative;
  transition: all var(--transition-duration) cubic-bezier(1,0,0,1);
  z-index: 1;
}

/**Paraghraps --------*/
p{
  color: white;
  font-size: calc(1rem + 1vw);
}

/**ListItems --------*/
li{
  list-style: none;
  margin-bottom: 4rem;
}

i{
  font-size: var(--font-size-title);
  color: var(--color-secondary);
}

/**Main Styling*/
header#header{
  background: linear-gradient(
    var(--color-primary-light),
    var(--color-primary-light)), 
    url("assets/hero.jpg");
  grid-column: container-start / container-end;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*Nav**/
/*position fixed makes the navigation fixed
*to the scroll behavior**/
.header_main-nav{
  position: fixed;
  top: 0;
  left: 0;
  /*this will put the navigation on top
  *of everything**/
  z-index: 2;
}

/*styling the checkbox (check the nav)**/
.header_main-nav input[type=checkbox]{
  position: absolute;
  top: 3rem;
  left: 3rem;
  height: 5rem;
  width: 5rem;
  /*i make it not visible*/
  opacity: 0;
  cursor: pointer;
  /**using 'z-index', i place 'checkbox' on top of
  *hamburger*/
  z-index: 3;
}

/*this hamburger style is on top of the checkbox
*so the user won't see the checkbox **/
.header_main-nav--hamburger{
  position: absolute;
  top: 3rem;
  left: 3rem;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  background-color: var(--color-secondary);

  display: grid;
  place-items: center;
}

/*Hamburger Lines**/
/*combinator selector apply styles to direct child 'div'**/
.header_main-nav--hamburger > div {
  position: relative;
  height: 0.3rem;
  width: 100%;
  background-color: var(--color-quarternary);
  display: grid;
  place-items: center;
  /*this transition is going to apply an animation later*/
  transition: all var(--transition-duration) ease-in-out;
}

/*Hamburger bottom Lines**/

.header_main-nav--hamburger > div::before, 
.header_main-nav--hamburger > div::after{
  content: '';
  position: absolute;
  top: -1rem;
  width: 60%;
  /*'inherit' takes 'height' value of his parent**/
  height: inherit;
  background-color: inherit;
  z-index: 2;
}

.header_main-nav--hamburger > div::before{
  left: 0;
}

.header_main-nav--hamburger > div::after{
  top: 1rem;
  right: 0;
}

/*Rotating the menu**/
/*checked is a pseudo class selector**/
/*the name of this syntax is 'attribute selector' or 'space combinator selector'*/
.header_main-nav input[type=checkbox]:checked + .header_main-nav--hamburger > div{
  transform: rotate(135deg);
}

/*Booking content section ----**/
section#booking-content{
  background-color: var(--color-secondary);
  grid-column: center-start / col-end 6;
  height: 400px;
}

/*Booking date section ----**/
section#booking-date{
  background-color: var(--color-tertiary);
  grid-column: col-start 7 / center-end;
  height: 400px;
}

/*villas section ----**/
section#villas{
  background-color: var(--color-primary);
  grid-column: container-start / container-end;
  height: 400px;
}

/*motto section ----**/
section#motto{
  background-color: var(--color-secondary);
  grid-column: container-start / container-end;
  height: 400px;
}

/*events content ----**/
section#events-content{ 
  background-color: var(--color-tertiary);
  grid-column: container-start / col-end 9;
  height: 400px;
}

/*events content ----**/
section#events-text{ 
  background-color: var(--color-primary);
  grid-column: col-start 10 / center-end;
  height: 400px;
}

/*gallery text ----**/
section#gallery-text{  
  background-color: var(--color-secondary);
  grid-column: center-start / col-end 1;
  height: 400px;
}

/*gallery text ----**/
section#gallery-carousel{  
  background-color: var(--color-tertiary);
  grid-column: col-start 2 / container-end;
  height: 400px;
}

/*features content ----**/
section#features-content{ 
  background-color: var(--color-primary);
  grid-column: container-start / col-end 9;
  height: 400px;
}

/*features text ----**/
section#features-text{ 
  background-color: var(--color-secondary);
  grid-column: col-start 10 / center-end;
  height: 400px;
}

/*testimonials ----**/
section#testimonials{ 
  background-color: var(--color-tertiary);
  grid-column: center-start / center-end;
  height: 400px;
}

/*footer ----**/
section#footer{ 
  background-color: var(--color-primary);
  grid-column: container-start / container-end;
  height: 400px;
}
